[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
[submodule "external/fakeit"]
	path = external/fakeit
	url = https://github.com/eranpeer/FakeIt.git
